footer {
  background-color: black;
  padding: 20px 0;
  color: white;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.information{
	color: white;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  width: 33%;
  padding: 10px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-column p,
.footer-column ul {
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  color: white;
}

.social-media {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.social-media li {
  display: inline-block;
  margin-right: 10px;
}

.social-media li a {
	color: white; 
  font-size: 20px;
}

.footer-bottom {
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 12px;
  margin: 0;
}

@media (max-width: 768px) {
  .footer-column {
    width: 100%;
    margin-bottom: 20px;
  }
}
