.flex-box{
	display: flex;
	width: 1000px;
	margin: auto;	
}

.left{
	width: 50%;	
	padding-top: 10%; 
}

.right{
	padding-top: 5%;
}

.img{
	width: 100px;
 /* cursor: pointer;  momentaneamente commentato altrimenti succedere un borderllo, tvb <3*/
}

img img{	
	transition: all 0.3 ease;
	width: auto; height: 200px;
}


.img:hover img{
/* transform: scale(1.2); come prima ma peggio :c*/
}

.url{
	font-size: 16px;
	font-weight: 400;
	color: rgb(255, 102, 0);
}

.pname{
	font-size: 22px;
	font-weight: 600;
	margin-top: 50px;
}

.price{
	font-size: 20px;
	font-weight: 500;
	margin: 20px 0;
}

.size{
	display: flex;
	align-items: center;
	margin: 20px 0;
}

.psize p{
	font-size: 18px;
	font-weight: 600;	
}

.psize{
	width: 70px;
	height: 30px;
	border: 1px solid #ff5e00;
	color: #000;
	text-align: center;
	margin: 0 10px;
	cursor: pointer;
}

.psize.active{
	border-width: 1.5px;
	color: #ff5e00;
	font-weight: 500;
}

.quantity{
	display: flex;
}

.quantity p{
	font-size: 18px;
	font-weight: 500;
}

.quantity input{
	width: 40px;
	font-size: 17px;
	font-weight: 500;
	text-align: center;
	margin-left: 15px;
}

.btn-box{
	padding-top: 20px;
	display: flex;
	margin-top: 20px 0;
}

.btn-box button{
	font-size: 18px;
	padding: 8px 25px;
	border: none;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
}

.cart-btn{
	background-color: #ff5e00;
	margin-right: 20px;
}

.buy-btn{
	background-color: #00aeff;
}

.cart-btn:hover{
	background-color: #ff3c00;
}

.buy-btn:hover{
	background-color: #0066ff;
}




