.container_orders {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  	background-color: #fff;
}

h1, h2 {
    margin-bottom: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid#ddd;
}


@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 18px;
    }
    
    table {
        font-size: 14px;
    }
}
